#Node and Node.js files
node_modules/
.next/
dist/
out/
.env.local
.env.development.local
.env.test.local
.env.production.local
.env


# .NET (C#) Backend
bin/
obj/
appsettings.json
appsettings.*.json

# TypeScript
*.tsbuildinfo

# OS-specific files
.DS_Store
Thumbs.db